
<link rel="stylesheet" href="/styles/show.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<%- include('../partials/nav') %>
<%- include('../partials/flash') %>
            <div class="container">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <% if(notes.style==='bold' ) {%>  
                            <h3 style="font-weight: bold ; color: <%= notes.color %>">Title:  <%=notes.heading%></h3>
                            <% } %>

                            <%  if(notes.style==='italic' ) { %>
                              <h3 style="font-style:italic ; color: <%= notes.color %>">Title:  <%=notes.heading%></h3>
                              <% } %>

                              <% if ( !notes.style) { %>   
                                <h3 style="color: <%=notes.color%>">
                                    Title:  <%=notes.heading%>
                                </h3>
                                <% } %> 
                        
                             
                                
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>Note: <%=notes.body%></p>
                            <% if (currentUser && notes.authorID===(currentUser.userid)) { %>
                            <a href="/notes/<%=notes.noteid%>/edit" class="btn btn-warning">EDIT</a>
                            <form class='d-inline' action="/notes/<%=notes.noteid%>?_method=DELETE" method="POST">
                              <button class=" btn btn-danger">DELETE</button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <%- include('../partials/foot123') %>
        </body>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>